/* header section */
header{
    background-color: rgb(233, 45, 12);
    background-image: url('../images/banner/banner2.png');
    background-size:cover;
    height: 600px;
    background-repeat: no-repeat;
    border: 3px solid   rgb(207, 222, 223);
}

.header-info{
/* border: 2px solid rgb(233, 45, 12); */
text-align:right;
height: 300px;
width: 300px;
margin-left: 60%;
margin-top: 15%;
}
#header-title{
    font-weight: 900;
    font-size: xx-large;
}
 


#btn-info{

background-color: chocolate;
border: none;
padding: 10px;
border-radius: 5px;
}
#btn-info:hover{
    background-color: blanchedalmond;
}

/* This is first section */

.first-section{
    height: 400px;
    background-color: rgb(207, 222, 223);
    border: 3px solid   rgb(207, 222, 223);
    background-image: url('../images/person.png');
    background-repeat: no-repeat;
    background-size: 25%;
    background-position:25%;
  
}
.first-section-info{
    height: 300px;
    width: 400px;
    margin-left: 50%;
    /* margin-top: 400px; */
}
#first-title{
    font-weight: 900;
    font-size: xx-large;
}

/* <!-- This is first section end--> */

/* <!-- This is second section start--> */

.second-section{
    height: 400px;
    width: 80%;
    margin: auto;
    /* background-color: rgba(37, 244, 144, 0.947); */
    /* border: 3px solid rgb(42, 46, 165); */
}
/* .image{
    background-image: url('../images/icons/web.png');
    height: 200px;
    width: 200px;
} */

#second-section-title{
    text-align: center;
    font-size: xx-large;
    font-weight: 900;
    /* margin-top: 5%; */
}
.plans{
 display: flex;
 text-align: center;
 margin-top: 10px;
 margin-left: 50px;
 /* height: 300px;
 width: 900px; */

}
.plan{
    /* border: 2px solid gold; */
    margin-right: 5%;
    height: 250px;
    width: 300px;
}

/* <!-- This is second section end--> */


/* <!-- This is third section start--> */

.third-section{
    height: 300px;
    width: 80%;
    margin: auto;
    border: 3px solid   rgb(207, 222, 223);
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
    background: url('../images/gradient3.png') right bottom no-repeat, url('../images/watch.png') left top repeat;
    background-color: transparent;
    color: white;
}
.third-section-info{
    margin-top: 10%;
    margin-left: 40px;
}
#btn2-info{
    background-color:white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: rgb(243, 109, 7);
}
#btn2-info:hover{
    background-color: rgb(55, 126, 241);
    color: white;
}


/* footer section */

#btn3-info{
    background-color:white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: rgb(243, 109, 7);

}
#btn3-info:hover{
    background-color: rgb(55, 126, 241);
    color: white;
}
.footer-info{
    background-color: black;
    color: white;
    padding: 40px;
    display: flex;
  


}
.footer-addres{
    margin-top: 5%;
    margin-right: 20%;
    padding-left: 15%;
}
.footer-email{
    margin-top: 5%; 
}
.logo{
    margin-right: 10px;
}


/* Fullbody */

body{
    background-color: rgb(234, 237, 238);
}